.character-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    font-size: 25px;
    padding-bottom: 55px;
}

.character-delete {
    font-family: 'Yatra One', cursive ;
    color: white;
    background-color: black;
}

.character-name {
    font-family: 'Yatra One', cursive ;
    color: rgba(151, 31, 31, 0.856);
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.character-class {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 5 / 6;
    grid-row: 1 / 2
}

.character-level {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 2
}

.character-race {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.character-age {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.character-str {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.character-dex {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.character-const {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.character-int {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.character-wis {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.character-char {
    font-family: 'Cinzel Decorative', cursive;
    display: grid;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}