.creation-header {
    font-family: 'Yatra One', cursive ;
    color:  rgba(151, 31, 31, 0.856);
    text-align: center;
    padding-top: 50px;
}

.creation-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    font-size: 30px;
    padding-bottom: 15px;
}

.submit-character, .name-input, .class-input, .race-input, .age-input, .str-input, .dex-input, .const-input, .int-input, .wis-input, .char-input, .lvl-input {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
    display: grid;
    height: 50px;
    width: 400px;
}

.name-input {
    grid-column: 2 / 3;
    grid-row: 1 / 2
}

.class-input {
    grid-column: 3 / 4;
    grid-row: 1 / 2
}

.race-input {
    grid-column: 4 / 5;
    grid-row: 1 / 2
}

.age-input {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}

.str-input {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}

.dex-input {
    grid-column: 4 / 5;
    grid-row: 2 / 3
}

.const-input {
    grid-column: 2 / 3;
    grid-row: 3 / 4
}

.int-input {
    grid-column: 3 / 4;
    grid-row: 3 / 4
}

.wis-input {
    grid-column: 4 / 5;
    grid-row: 3 / 4
}

.char-input {
    grid-column: 2 / 3;
    grid-row: 4 / 5
}

.lvl-input {
    grid-column: 3 / 4;
    grid-row: 4 / 5
}

.submit-character {
    font-family: 'Yatra One', cursive ;
    color: white;
    background-color: black;
    display: grid;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}
